# OS files
.DS_Store
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Root dot files/folders
.babelrc
.editorconfig
.git/
.github/
.vscode/
.zed/

# Caches
.astro/
.cache
*.tsbuildinfo

# Build
build
# dist
dist-ssr
storybook-static

# Environment
.env
.env.test
.env.production

# Vite
*.local

# Secrets
secrets.json

# Maps
# *.*.map

# Coverage
coverage
lib-cov
*.lcov

# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*

# Reports
assets-manifest.json
bundle-report.html
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
.lock-wscript
.node_repl_history
.npm
node_modules
web_modules/

# Other
# config
tests

# AI
.claude/plans
.claude/settings.local.json
.opencode/plans
docs/superpowers
